.BodyDashBoard{
    position: relative;
    width: 100%;
    height: 100vh;
}
.NavDashBoard{
    position: relative;
    width: 100%;
    height: 100px;
    background: linear-gradient(29deg, rgba(21,28,47,1) 0%, rgba(21,28,47,1) 26%, rgba(34,41,61,1) 100%);  
    border-bottom: 1px solid rgb(40, 40, 40);
}

.SearchBox{
    position: relative;
    width: 100%;
    height: 100%;
    float: left;
}

.Search{
    position: relative;
    width: 60%;
    height: 50px;
    top: 25%;
    left: 5%;
    float: left;

}

.Search input{
    position: relative;
    width: 100%;
    height: 50px;
    border-radius: 50px;
    margin-left: 20px;
    text-indent: 20px
}

        .EverythinkUserBox{
          position: relative;
          float: left;
          width: 80px;
          height: 80px;
          background: linear-gradient(27deg, rgb(0, 126, 244) 0%, rgb(58, 78, 133) 100%);
          margin: 12px 0px 20px 200px;
          border-radius: 55px;
        }

        .UserBox{
            position: relative;
            float: left;
            width: 80px;
            height: 80px;
            background: linear-gradient(27deg, rgb(0, 126, 244) 0%, rgb(58, 78, 133) 100%);
            border-radius: 55px;
            z-index: 6;
        }

        .UserBoxInSide{
            position: relative;
            width: 78px;
            height: 95%;
            background: linear-gradient(29deg, rgba(21,28,47,1) 0%, rgba(21,28,47,1) 26%, rgba(34,41,61,1) 100%);  
            margin: 2px 0px 0px 1px;
            border-radius: 55px;
        }

        .UserBoxInSide p{
          position: absolute;
          color: white;
          text-transform: uppercase;
          font-size: 1.9rem;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) 
        }
            .UserBoxMenuBorder{
              display: none;
              position: relative;
              width: 300px;
              height: 500px;
              top: 90px;
              left: -200px;
              background: linear-gradient(27deg, rgb(0, 126, 244) 0%, rgb(58, 78, 133) 100%);
              z-index: 4;
              border-radius: 15px;
            }

            .HideUserBoxMenu{
              position: relative;
              width: 294px;
              height: 510px;
              left: 3px;
              top: -100px;
              z-index: 4;
            }

            .UserBoxMenu{
              position: relative;
              width: 294px;
              height: 494px;
              left: 0px;
              top: 103px;
              background: linear-gradient(29deg, rgba(21,28,47,1) 0%, rgba(21,28,47,1) 26%, rgba(34,41,61,1) 100%);  
              z-index: 5;
              border-radius: 15px;
              color: white;
              }

                  .UserBoxLogin{
                    position: relative;
                    width: 90%;
                    height: 50px;
                    background-color: #107cff;
                    top: 20px;
                    margin: 0 auto;
                  }

                  .UserBoxButton{
                    position: relative;
                    width: 90%;
                    height: 50px;
                    background-color: #107cff;
                    top: 20px;
                    margin: 0 auto;
                  }

        @keyframes blumb { 
          0% 
          { 
            transform: scale(1); 
          } 
          45% 
          { 
            transform: scale(1.15); 
          } 
          85% 
          { 
            transform: scale(0.8); 
          }
          100% 
          { 
            transform: scale(1); 
          } 
        }
        


.WindowDashBoard{
    position: relative;
    width: 100%;
    height: 90%;
    background: linear-gradient(29deg, rgb(15, 20, 32) 0%, rgb(18, 23, 37) 26%, rgb(28, 33, 47) 100%);  
    z-index: 1;
}

.OverView{
    position: relative;
    width: 100%;
    padding-top: 50px;
  }

  .BoxOverView{
    position: relative;
    width: 350px;
    height: 200px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.058);
    border-radius: 26px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
    border: 1px solid rgba(255, 255, 255, 0.72);
    z-index: 4
  }

  .AddValue{
    position: absolute;
    width: 50px;
    height: 50px;
    color: #f8f8f8;
    font-size: 30px;
    padding-left: 10px;
    top: 5px;
    right: 5px;
    cursor: pointer;
  }


  .BoxBlurBlub{
    position: absolute;
    width: 100%;
    height: 100%;
  }

        .BlurBlumb{
          position: absolute;
          border-style: solid;
          border-color: transparent transparent transparent;
          border-width: 0 55px 25px 25px;
          height: 0;
          width: 100px;
          z-index: 2;
          filter: blur(100px);
          top: 5%;
          left: 15%;
        }
        .BlurBlumb:after {
          content: '';
          position: absolute;
          top: 25px;
          left: -25px;
          width: 0;
          height: 0;
          border-style: solid;
          border-color:#8d12eb transparent transparent transparent;
          border-width: 250px 200px 0 250px;
        }

            .BlurBlumb2{
              position: absolute;
              border-style: solid;
              border-color: transparent transparent transparent;
              border-width: 0 55px 25px 25px;
              height: 0;
              width: 100px;
              z-index: 2;
              filter: blur(100px);
              top: 15%;
              left: 50%;
            }
            .BlurBlumb2:after {
              content: '';
              position: absolute;
              top: 25px;
              left: -25px;
              width: 0;
              height: 0;
              border-style: solid;
              border-color:#8d12eb transparent transparent transparent;
              border-width: 350px 200px 0 550px;
            }


                .BlurBlumb3{
                  position: absolute;
                  border-style: solid;
                  border-color: transparent transparent transparent;
                  border-width: 0 55px 25px 25px;
                  height: 0;
                  width: 100px;
                  z-index: 2;
                  filter: blur(100px);
                  top: 45%;
                  left: 20%;
                }
                .BlurBlumb3:after {
                  content: '';
                  position: absolute;
                  top: 25px;
                  left: -25px;
                  width: 0;
                  height: 0;
                  border-style: solid;
                  border-color:#1228eb transparent transparent transparent;
                  border-width: 550px 250px 0 550px;
                }

  .BoxHide{
    position: relative;
    width: 50px;
    height: 100px;
    background-color: rgb(58, 78, 133);
    z-index: 2;
  }

  .TextBoxFirst{
    position: relative;
    width: 100%;
    height: 80px;
  }

  .TextBoxFirst p{
    color: #f4f4f4;
    font-size: 35px;
    padding-left: 35px;
    font-weight: 500;
    font-family: 'Genos';
    text-transform: uppercase;
  }

  .TextBoxFirstNumber{
    position: relative;
    width: 80%;
    height: 120px;
    float: left;
  }

  .TextBoxFirstNumber i{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    font-weight: 800;
    background: -webkit-linear-gradient(27deg, rgb(0, 126, 244) 0%, rgb(58, 78, 133) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }



.ArrowBoxFirstNumber{
  position: relative;
  background-color: #d41919;
  width: 20%;
  height: 120px;
  float: left;
}


.Diagram{
  position: relative;
  width: 90%;
  min-width: 500px;
  height: 550px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.058);
  border-radius: 26px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.4px);
  -webkit-backdrop-filter: blur(7.4px);
  border: 1px solid rgba(255, 255, 255, 0.72);
  z-index: 4;
}


.Mpopular{
  position: relative;
  width: 400px;
  height: 550px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.058);
  border-radius: 26px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.4px);
  -webkit-backdrop-filter: blur(7.4px);
  border: 1px solid rgba(255, 255, 255, 0.72);
  z-index: 4

}
.row{
  min-width: 350px
}

.col{
  min-width: 350px;
  height: 200px;
  margin-top: 50px;
  margin-bottom: 50px;

}

#menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
    background-color: rgb(251, 251, 251);

  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
    background-color: rgb(255, 255, 255);

  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
    background-color: rgb(255, 255, 255);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }

  .hamburger-menu{
    position: absolute;
    width: 100px;
    height: 100%;
  }
  .menu__btn {
    position: relative;
    top: 50%;
    left: 20%;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 5;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #107cff;
    transition-duration: .25s;
  }

  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 120px 0;
    list-style: none;
    transition-duration: .25s;
    z-index: 4;
    background: rgba(7, 7, 7, 0.616);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
  }
  .menu__item {
    display: block;
    padding: 22px 24px;
    color: #efecec;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
    text-align: center;
  }
  .menu__item:hover {
    background-color: #1c68ec0d;
  }

